In [1]:
# Train the best performing model. With Hourly Features and Log of Count
# Kaggle Score: 0.42658
import numpy as np
import pandas as pd
import os

# Define IAM role
import boto3
import re

import sagemaker

In [2]:
# use a different profile
boto_session = boto3.Session(profile_name='mlPredict',region_name='eu-central-1')

In [3]:
sess = sagemaker.Session(boto_session=boto_session)

In [4]:
endpoint_name = 'xgboost-biketrain-v1'

predictor = sagemaker.predictor.RealTimePredictor(endpoint=endpoint_name,
                                                 sagemaker_session=sess)

In [5]:
from sagemaker.predictor import csv_serializer, json_deserializer

predictor.content_type = 'text/csv'
predictor.serializer = csv_serializer
predictor.deserializer = None

In [6]:
def run_predictions(arr_input, batch_size):
    predictions = []
    
    if type(arr_input) != np.ndarray:
        arr_input = np.array(arr_input)
        
    for arr in np.array_split(arr_input,batch_size):
        if arr.size > 0: 
            print("Shape:{0}".format(arr.shape))
            result = predictor.predict(arr)
            result = result.decode("utf-8")
            result = result.split(',')
            predictions += [np.expm1(float(r)) for r in result]
    
    return predictions

In [7]:
df_test = pd.read_csv('bike_test.csv')

In [8]:
df_test.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,year,month,day,dayofweek,hour
0,2011-01-20 00:00:00,1,0,1,1,10.66,11.365,56,26.0027,2011,1,20,3,0
1,2011-01-20 01:00:00,1,0,1,1,10.66,13.635,56,0.0000,2011,1,20,3,1
2,2011-01-20 02:00:00,1,0,1,1,10.66,13.635,56,0.0000,2011,1,20,3,2
3,2011-01-20 03:00:00,1,0,1,1,10.66,12.880,56,11.0014,2011,1,20,3,3
4,2011-01-20 04:00:00,1,0,1,1,10.66,12.880,56,11.0014,2011,1,20,3,4

In [9]:
tmp_df = df_test.as_matrix(columns=['season', 'holiday', 'workingday', 'weather', 'temp',
       'atemp', 'humidity', 'windspeed', 'year', 'month', 'day', 'dayofweek','hour'])

/Users/ksatola/anaconda3/lib/python3.6/site-packages/ipykernel/__main__.py:2: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  from ipykernel import kernelapp as app

In [10]:
tmp_df.shape

(6493, 13)

In [11]:
predicted_count = run_predictions(arr_input=tmp_df, batch_size=10)

Shape:(650, 13)
Shape:(650, 13)
Shape:(650, 13)
Shape:(649, 13)
Shape:(649, 13)
Shape:(649, 13)
Shape:(649, 13)
Shape:(649, 13)
Shape:(649, 13)
Shape:(649, 13)

In [12]:
predicted_count[:5]

[8.614340967596721,
 5.391640464624821,
 3.9236255631316688,
 2.0927207604731177,
 1.9754795692374765]

In [13]:
df_test['count'] = predicted_count

In [14]:
df_test.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,year,month,day,dayofweek,hour,count
0,2011-01-20 00:00:00,1,0,1,1,10.66,11.365,56,26.0027,2011,1,20,3,0,8.614341
1,2011-01-20 01:00:00,1,0,1,1,10.66,13.635,56,0.0000,2011,1,20,3,1,5.391640
2,2011-01-20 02:00:00,1,0,1,1,10.66,13.635,56,0.0000,2011,1,20,3,2,3.923626
3,2011-01-20 03:00:00,1,0,1,1,10.66,12.880,56,11.0014,2011,1,20,3,3,2.092721
4,2011-01-20 04:00:00,1,0,1,1,10.66,12.880,56,11.0014,2011,1,20,3,4,1.975480

In [15]:
df_test['count'].describe()

count    6493.000000
mean      182.378119
std       169.938115
min         0.503425
25%        39.787132
50%       141.993349
75%       270.620632
max       860.666836
Name: count, dtype: float64